.mainText {
  background-color: #e8e8e8;
}

.header {
  background-color: #000000;
  height: 120px;
  width: 100%;
  margin: 0;
  padding: 0px;
  display: inline-flex;
}
.FIO 
{
  font-size: 26pt;
  padding-top: 30px;
  color: #fff;
  margin-left: 20%;
}

.navigation{
  margin-left: 5%;
  padding-top: 40px;
  margin: 0;
  width: 40%;
}
ul.navigation li {
  display: inline;
  margin: 0;
  }
    ul.navigation li a {
      color: #a9a9a9;
      font-size: 18pt;
      text-decoration: none;
      display: inline-block;
      margin-left: 15%;
    }

.aboutMe{
  display: inline-flex;
  margin-top: 10px;
  margin-left: 20%;
  width: 60%;
}    
.mainText {
  margin: 10px;
  padding: 0;
  font-size: 14pt;
}
.mainText p {
  margin: 14px;
}
.mainText p {
  margin: 14px;
}
.foto {
  margin: 10px;
  padding: 0; 
  width: 300px;
}
.skill{
  margin-left: 20%;
}
.skill p{
  font-size: 18pt;
}
.skills {
  display: inline;
  margin: 0;
  padding: 0; 
}
.skills li {
  display: inline-flex;
  margin-right: 3%;
  padding: 6px;
  font-size: 16pt;
  background-color:#e8e8e8;
}
.education {
  margin-top: 10px;
  margin-left: 20%;
}
.education ul {
  margin: 0;
  padding: 0; 
  font-size: 16pt;
  display: inline-block;
}
.college {
  width: 50%;
  }
.degree {
   width: 20%;
}
button {
  margin-left: 10px;
}